// IMPORTS

@use'../../styles/_typography.module' as ty;
@use'../../styles/functions.module' as fn;
@use'../../styles/variables.module' as var;

// COMPONENT STYLES

.GalleryContainer {
  background-color: var.$clr-neutral100;
  min-height: 100vh;
}

.GalleryTitle {
  margin-bottom: fn.vw(4, var.$bp-desktop-lg);
  text-align: center;

  h1 {
    color: var.$clr-secondary500;

    @include ty.sectionTitle--small();
  }
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.GalleryEl {
  position: relative;
  height: 12rem;
  width: 18rem;
  overflow: hidden;
  border-radius: .5rem;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.25);
    transform: scale(1.01);
  }

  * {
    pointer-events: none;
  }

  .Overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(61, 18, 34, 1) 0%, rgba(61, 18, 34, 0) 50%);
    z-index: 3;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
  }

  h3 {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: #ffffff;
    z-index: 4;
    
    @include ty.cardBody();
  } 
}

.Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(246, 167, 9, .95);
  z-index: 10;
  opacity: 0;

  &__Hidden {
    display: none;
  }

  .ModalImageContainer {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    img {
      position: relative;
      max-width: 75%;
      max-height: 75%;
      margin: auto;
      border-radius: .25rem;
    }
  }
}

