// COMPONENT STYLES
.GalleryContainer {
  border: 1px solid green;
}

.Gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid blue;
}

.GalleryEl {
  position: relative;
  height: 12rem;
  width: 12rem;
  border: 1px solid #ff0000;
  overflow: hidden;
  border-radius: .5rem;

  .Overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 66%);
    z-index: -1;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
  }

  h3 {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: #ffffff;
    font-size: 1rem;
    z-index: 1;
  } 
}
