// IMPORTS

@use'../../../styles/typography.module' as ty;

// COMPONENT STYLES

.Container {
  background-color: var(--color-neutral900);

  .Content {
    color: var(--color-neutral200);
    display: flex;
    gap: ty.vw(2);

    &>* {
      flex-basis: 50%;
    }

    .Main {
      .Title {
        margin-top: ty.vw(.15);
        @include ty.sectionTitle--small();
      }

      .Body {
        margin-top: ty.vw(4.9);
        padding: 0 ty.vw(7.5);
  
        @include ty.body--bigger();
      }
    }


    .Dates {
      color: var(--color-secondary500);
      padding-top: ty.vw(3);

      .DatesTitle {
        margin-left: ty.vw(6);
        @include ty.dateTitle();
      }

      .DatesList {

        .DatesItem {
          margin-top: ty.vw(2);
          display: flex;
          gap: ty.vw(2);

          .DatesBody {
            @include ty.dateBody();
          }

          .DatesDate {
            text-align: right;
            min-width: ty.vw(4);

            @include ty.dateDate();
          }
        }

      }
    }
  }
}
