// IMPORTS

@use'../../../styles/typography.module' as typography;

// COMPONENT STYLES

.Container {
  background-color: var(--color-neutral900);

  .Content {
    color: var(--color-neutral200);

    h2 {
      @include typography.sectionTitle--small();
    }
  
    p {
      @include typography.body--bigger();
    }
  
    h3 {
      @include typography.dateTitle();
    }
  
    .Dates {
      color: var(--color-secondary500);

      .DatesBody {
        @include typography.dateBody();
      }
    
      .DatesDate {
          @include typography.dateDate();
      }
    }
  }
}
