// IMPORTS

// FONTS

@font-face {
  font-family: 'Alegreya_500', sans-serif;
  font-display: swap;
  src: url('/fonts/AlegreyaSans-Medium.ttf');
  // font-weight: 500;
}

@font-face {
  font-family: 'Alegreya_900', sans-serif;
  font-display: swap;
  src: url('/fonts/AlegreyaSans-Black.ttf');
  // font-weight: 900;
}

@font-face {
  font-family: 'Merriweather_300', sans-serif;
  font-display: swap;
  src: url('/fonts/MerriweatherSans-Light.ttf');
  // font-weight: 300;
}

@font-face {
  font-family: 'Merriweather_800', sans-serif;
  font-display: swap;
  src: url('/fonts/MerriweatherSans-ExtraBold.ttf');
  // font-weight: 800;
}
