// IMPORTS

// FONTS

@font-face {
  font-family: 'Alegreya_500';
  font-display: fallback;
  src: url('/fonts/AlegreyaSans-Medium.woff2');
  // font-weight: 500;
}

@font-face {
  font-family: 'Alegreya_900';
  font-display: fallback;
  src: url('/fonts/AlegreyaSans-Black.woff2');
  // font-weight: 900;
}

@font-face {
  font-family: 'Merriweather_300';
  font-display: fallback;
  src: url('/fonts/MerriweatherSans-Light.woff2');
  // font-weight: 300;
}

@font-face {
  font-family: 'Merriweather_800';
  font-display: fallback;
  src: url('/fonts/MerriweatherSans-ExtraBold.woff2');
  // font-weight: 800;
}
