// IMPORTS

@use'typography.module' as ty;
@use 'variables.module' as var;
@use 'functions.module' as fn;

// OBJECTS MIXINS

@mixin ctaButton($bg, $text) {
  color: $text;

  display: inline-block;
  padding: fn.vw(.5, var.$bp-desktop-lg) fn.vw(2, var.$bp-desktop-lg);
  border-radius: fn.vw(2, var.$bp-desktop-lg);
  background-color: $bg;

  @include ty.cta();
}
