// IMPORTS

@use'typography.module' as ty;
@use 'variables.module' as var;
@use 'functions.module' as fn;

// OBJECTS MIXINS

@mixin ctaButton($bg, $text) {
  color: $text;

  display: inline-block;
  padding: fn.vw(.5, var.$bp-tablet-md) fn.vw(2, var.$bp-tablet-md);
  border-radius: fn.vw(2, var.$bp-tablet-md);
  background-color: $bg;

  @include ty.cta();

  @media (min-width: 741px) {
    padding: fn.vw(.5, var.$bp-tablet-lg) fn.vw(2, var.$bp-tablet-lg);
    border-radius: fn.vw(2, var.$bp-tablet-lg);
  }

  @media (min-width: 1025px) {
    padding: fn.vw(.5, var.$bp-desktop-lg) fn.vw(2, var.$bp-desktop-lg);
    border-radius: fn.vw(2, var.$bp-desktop-lg);
  }
}
