// IMPORTS

@use 'variables.module' as var;
@use 'functions.module' as fn;
@use 'fonts.module' as fonts;

// baseline grid mixin

@mixin baseline-dsk($line-height, $lines-bottom) {
  $line: fn.vw(1, var.$bp-desktop-lg);

  line-height: $line * $line-height;
  padding-top: calc(calc($line * $line-height - 1cap) / 2);
  margin-bottom: calc($line * $lines-bottom - calc(calc($line * $line-height - 1cap) / 2));
}

@mixin baseline-dsksm($line-height, $lines-bottom) {
  $line: fn.vw(1, var.$bp-desktop-sm);

  line-height: $line * $line-height;
  padding-top: calc(calc($line * $line-height - 1cap) / 2);
  margin-bottom: calc($line * $lines-bottom - calc(calc($line * $line-height - 1cap) / 2));
}

@mixin baseline-tbl($line-height, $lines-bottom) {
  $line: fn.vw(1, var.$bp-tablet-lg);

  line-height: $line * $line-height;
  padding-top: calc(calc($line * $line-height - 1cap) / 2);
  margin-bottom: calc($line * $lines-bottom - calc(calc($line * $line-height - 1cap) / 2));
}

@mixin baseline-tblmd($line-height, $lines-bottom) {
  $line: fn.vw(1, var.$bp-tablet-md);

  line-height: $line * $line-height;
  padding-top: calc(calc($line * $line-height - 1cap) / 2);
  margin-bottom: calc($line * $lines-bottom - calc(calc($line * $line-height - 1cap) / 2));
}

@mixin baseline-smp($line-height, $lines-bottom) {
  $line: fn.vw(1, var.$bp-smartphone-md);

  line-height: $line * $line-height;
  padding-top: calc(calc($line * $line-height - 1cap) / 2);
  margin-bottom: calc($line * $lines-bottom - calc(calc($line * $line-height - 1cap) / 2));
}

// typography mixins

@mixin heroTitle() {
  font-family: "Alegreya_900";
  font-size: fn.vw(var.$hd-5xl, var.$bp-smartphone-md);

  @include baseline-smp(4.6, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$hd-5xl, var.$bp-tablet-md);
    @include baseline-tblmd(4.6, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$hd-6xl, var.$bp-tablet-lg);
    @include baseline-tbl(5.2, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$hd-7xl, var.$bp-desktop-sm);
    @include baseline-dsksm(6.6, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$hd-8xl, var.$bp-desktop-lg);
    @include baseline-dsk(7.6, 0);
  }
}

@mixin heroClaim() {
  font-family: "Merriweather_300";
  font-size: fn.vw(var.$txt-base, var.$bp-smartphone-md);

  @include baseline-smp(2, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-base, var.$bp-tablet-md);
    @include baseline-tblmd(2.1, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-tablet-lg);
    @include baseline-tbl(2.3, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-xl, var.$bp-desktop-sm);
    @include baseline-dsksm(2.1, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-xl, var.$bp-desktop-lg);
    @include baseline-dsk(2, 0);
  }
}

@mixin sectionTitle--big() {
  font-family: "Alegreya_900";
  font-size: fn.vw(var.$hd-4xl, var.$bp-smartphone-md);

  @include baseline-smp(3.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$hd-4xl, var.$bp-tablet-md);
    @include baseline-tblmd(3.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$hd-5xl, var.$bp-tablet-lg);
    @include baseline-tbl(4, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$hd-6xl, var.$bp-desktop-sm);
    @include baseline-dsksm(6.1, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$hd-7xl, var.$bp-desktop-lg);
    @include baseline-dsk(6, 0);
  }
}

@mixin sectionTitle--small() {
  font-family: "Alegreya_900";
  font-size: fn.vw(var.$hd-3xl, var.$bp-smartphone-md);

  @include baseline-smp(3, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$hd-3xl, var.$bp-tablet-md);
    @include baseline-tblmd(3, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$hd-5xl, var.$bp-tablet-lg);
    @include baseline-tbl(4, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$hd-5xl, var.$bp-desktop-sm);
    @include baseline-dsksm(4, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$hd-6xl, var.$bp-desktop-lg);
    @include baseline-dsk(5, 0);
  }
}

@mixin paragTitle() {
  font-family: 'Merriweather_800';
  font-size: fn.vw(var.$txt-base, var.$bp-smartphone-md);

  @include baseline-smp(1.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-base, var.$bp-tablet-md);
    @include baseline-tblmd(1.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-base, var.$bp-tablet-lg);
    @include baseline-tbl(2, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-desktop-sm);
    @include baseline-dsksm(2, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-desktop-lg);
    @include baseline-dsk(2, 0);
  }
}

@mixin body--bigger() {
  font-family: 'Merriweather_300';
  font-size: fn.vw(var.$txt-sm, var.$bp-smartphone-md);

  @include baseline-smp(1.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-tablet-md);
    @include baseline-tblmd(1.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-tablet-lg);
    @include baseline-tbl(1.5, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-base, var.$bp-desktop-sm);
    @include baseline-dsksm(2, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-base, var.$bp-desktop-lg);
    @include baseline-dsk(2, 0);
  }
}

@mixin body--small() {
  font-family: 'Merriweather_300';
  font-size: fn.vw(var.$txt-xs, var.$bp-smartphone-md);

  @include baseline-smp(1.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-xs, var.$bp-tablet-md);
    @include baseline-tblmd(1.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-xs, var.$bp-tablet-lg);
    @include baseline-tbl(1.5, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-xs, var.$bp-desktop-sm);
    @include baseline-dsksm(1.5, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-lg);
    @include baseline-dsk(2, 0);
  }
}

@mixin dateTitle() {
  font-family: 'Merriweather_800';
  font-size: fn.vw(var.$txt-base, var.$bp-smartphone-md);
  text-transform: uppercase;

  @include baseline-smp(2, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-tablet-md);
    @include baseline-tblmd(2, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-tablet-lg);
    @include baseline-tbl(2, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-desktop-sm);
    @include baseline-dsksm(2, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-lg, var.$bp-desktop-lg);
    @include baseline-dsk(2, 0);
  }
}

@mixin dateBody() {
  font-family: 'Merriweather_300';
  font-size: fn.vw(var.$txt-sm, var.$bp-smartphone-md);
  font-variant: normal;

  @include baseline-smp(1.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-tablet-md);
    font-variant: small-caps;
    @include baseline-tblmd(1.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-tablet-lg);
    @include baseline-tbl(1.5, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-sm);
    @include baseline-dsksm(1.5, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-lg);
    @include baseline-dsk(1.5, 0);
  }
}

@mixin dateDate() {
  font-family: 'Merriweather_800';
  font-size: fn.vw(var.$txt-sm, var.$bp-smartphone-md);
  @include baseline-smp(1.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-tablet-md);
    @include baseline-tblmd(1.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-tablet-lg);
    @include baseline-tbl(1.5, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-sm);
    @include baseline-dsksm(1.5, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-lg);
    @include baseline-dsk(1.5, 0);
  }
}

@mixin cardTitle() {
  font-family: 'Merriweather_800';
  font-size: fn.vw(var.$txt-xl, var.$bp-smartphone-md);

  @include baseline-smp(3, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-xl, var.$bp-tablet-md);
    @include baseline-tblmd(2.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-xl, var.$bp-tablet-lg);
    @include baseline-tbl(2, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-2xl, var.$bp-desktop-sm);
    @include baseline-dsksm(2, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-xl, var.$bp-desktop-lg);
    @include baseline-dsk(2, 0);
  }
}

@mixin cardBody() {
  font-family: 'Merriweather_300';
  font-size: fn.vw(var.$txt-xs, var.$bp-smartphone-md);

  @include baseline-smp(1.5, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-xs, var.$bp-tablet-md);
    @include baseline-tblmd(1.5, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-xs, var.$bp-tablet-lg);
    @include baseline-tbl(1.5, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-sm);
    @include baseline-dsksm(1.5, 0);
  }

  @media (min-width: 1281px) {
    font-size: fn.vw(var.$txt-sm, var.$bp-desktop-lg);
    @include baseline-dsk(1.5, 0);
  }
}

@mixin cta() {
  font-family: 'Alegreya_500';
  font-size: fn.vw(var.$txt-base, var.$bp-smartphone-md);

  @include baseline-smp(1.9, 0);

  @media (min-width: 541px) {
    font-size: fn.vw(var.$txt-base, var.$bp-tablet-md);
    @include baseline-tblmd(1.9, 0);
  }

  @media (min-width: 741px) {
    font-size: fn.vw(var.$txt-base, var.$bp-tablet-lg);
    @include baseline-tbl(1.95, 0);
  }

  @media (min-width: 1025px) {
    font-size: fn.vw(var.$txt-base, var.$bp-desktop-sm);
    @include baseline-dsksm(1.95, 0);
  }

  @media (min-width: 1281) {
    font-size: fn.vw(var.$txt-base, var.$bp-desktop-lg);
    @include baseline-dsk(1.95, 0);
  }
}

@mixin headerToggle() {
  font-family: 'Merriweather_800';
  font-size: fn.vw(var.$txt-base, var.$bp-desktop-lg);

  @include baseline-dsk(2, 0);
}
