// funzioni di conversione

@function vw($rem) {
  @return (calc(($rem * 20) / 1920) * 100vw);
}    

// interlinea

$line: vw(1);

// baseline grid mixin

@mixin baseline($line-height, $lines-bottom) {
  line-height: $line * $line-height;
  padding-top: calc(calc($line * $line-height - 1cap) / 2);
  margin-bottom: calc($line * $lines-bottom - calc(calc($line * $line-height - 1cap) / 2));
}

@mixin heroOver() {
  font-family: "Alegreya Sans", sans-serif;
  font-size: var(--head-xl);
  font-weight: 800;

  @include baseline(3.1, 0);
}

@mixin heroTitle() {
  font-family: "Alegreya Sans", sans-serif;
  font-size: var(--head-8xl);
  font-weight: 900;

  @include baseline(7.6, 0);
}

@mixin heroClaim() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-xl);
  font-weight: 100;

  @include baseline(2, 0);
}

@mixin sectionTitle--big() {
  font-family: "Alegreya Sans", sans-serif;
  font-size: var(--head-7xl);
  font-weight: 900;

  @include baseline(6, 0);
}

@mixin sectionTitle--small() {
  font-family: "Alegreya Sans", sans-serif;
  font-size: var(--head-6xl);
  font-weight: 900;

  @include baseline(5, 0);
}

@mixin sectionTitle--small() {
  font-family: "Alegreya Sans", sans-serif;
  font-size: var(--head-6xl);
  font-weight: 900;

  @include baseline(5, 0);
}

@mixin paragTitle() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-lg);
  font-weight: 800;

  @include baseline(2, 0);
}

@mixin paragTitle--small() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-base);
  font-weight: 800;

  @include baseline(2, 0);
}

@mixin body--regular() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-xs);
  font-weight: 300;

  @include baseline(1.5, 0);
}

@mixin body--bigger() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-base);
  font-weight: 300;

  @include baseline(2, 0);
}

@mixin dateTitle() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-lg);
  font-weight: 800;
  text-transform: uppercase;

  @include baseline(2, 0);
}

@mixin dateBody() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-sm);
  font-weight: 300;
  font-variant: small-caps;

  @include baseline(1.5, 0);
}

@mixin dateDate() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-sm);
  font-weight: 800;

  @include baseline(1.5, 0);
}

@mixin cardTitle() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-xl);
  font-weight: 800;

  @include baseline(2, 0);
}

@mixin cardBody() {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--text-sm);
  font-weight: 100;

  @include baseline(1.5, 0);
}

@mixin cta() {
  font-family: "Alegreya Sans", sans-serif;
  font-size: var(--text-base);
  font-weight: 500;

  @include baseline(1.95, 0);
}
