/* BREAKPOINTS */

$bp-smartphone-md: 440;
// $bp-tablet-md: 740;
$bp-tablet-lg: 1024;
// $bp-desktop-sm: 1280;
// $bp-desktop-md: 1440;
$bp-desktop-lg: 1920;

/* LAYOUT */

$crn-sm: .25rem;
$crn-md: .5rem;
$crn-lg: 1rem;

/* TYPE */
$ldg-xs: 1rem; /* 20px */
$ldg-sm: 1.5rem; /* 30px */
$ldg-base: 2rem; /* 40px */
$ldg-lg: 2.5rem; /* 50px */
$ldg-xl: 3.125vw; /* 3rem / 60px */
$ldg-2xl: 3.5rem; /* 70px */
$ldg-3xl: 4rem; /* 80px */
$ldg-4xl: 4.5rem; /* 90px */
$ldg-5xl: 5rem; /* 100px */
$ldg-6xl: 5.5rem; /* 110px */
$ldg-7xl: 6rem; /* 120px */
$ldg-8xl: 6.5rem; /* 130px */
$ldg-9xl: 7rem; /* 140px */
$ldg-10xl: 7.5rem; /* 150px */
$ldg-11xl: 8rem; /* 160px */
$ldg-12xl: 10rem; /* 200px */
$ldg-13xl: 12rem; /* 240px */

$txt-xs: .8rem; /* 16px */
$txt-sm: 1rem; /* 20px */
$txt-base: 1.2rem; /* 24px */
$txt-lg: 1.5rem; /* 30px */
$txt-xl: 1.9rem; /* 38px */
$txt-2xl: 2.3rem; /* 46px */
$txt-3xl: 2.9rem; /* 58px */
$txt-4xl: 3.7rem; /* 74px */
$txt-5xl: 4.6rem; /* 92px */

$hd-sm: 1.1rem; /* 22px */
$hd-base: 1.4rem; /* 28px */
$hd-lg: 1.8rem; /* 36px */
$hd-xl: 2.2rem; /* 44px */
$hd-2xl: 2.7rem; /* 54px */
$hd-3xl: 3.4rem; /* 68px */
$hd-4xl: 4.2rem; /* 84px */
$hd-5xl: 5.2rem; /* 104px */
$hd-6xl: 6.5rem; /* 130px */
$hd-7xl: 8.1rem; /* 162px */
$hd-8xl: 10.1rem; /* 202px */
$hd-9xl: 12.6rem; /* 252px */

/* clrS */
$clr-primary900: oklch(0.2579 0.0699 0.12);
$clr-primary800: oklch(0.2777 0.0871 0.62);
$clr-primary700: oklch(0.2947 0.1004 0.41);
$clr-primary600: oklch(0.3163 0.1142 1.37);
$clr-primary500: oklch(0.3364 0.1259 1.91);
$clr-primary400: oklch(0.4073 0.1173 356.54);
$clr-primary300: oklch(0.4857 0.1003 354.06);
$clr-primary200: oklch(0.5704 0.0817 352.58);
$clr-primary100: oklch(0.6543 0.0626 351.16);

$clr-secondary900: oklch(0.5144 0.1019 80.92);
$clr-secondary800: oklch(0.5864 0.1186 78.38);
$clr-secondary700: oklch(0.654 0.134 77.56);
$clr-secondary600: oklch(0.7203 0.1499 75.46);
$clr-secondary500: oklch(0.7859 0.1647 74.68);
$clr-secondary400: oklch(0.8052 0.1584 78.53);
$clr-secondary300: oklch(0.8259 0.1462 81.13);
$clr-secondary200: oklch(0.849 0.1288 82.29);
$clr-secondary100: oklch(0.8721 0.1076 83.43);

$clr-neutral900: oklch(0.212 0.0186 141.58);
$clr-neutral800: oklch(0.3277 0.0154 145.21);
$clr-neutral700: oklch(0.4321 0.0116 140.49);
$clr-neutral600: oklch(0.5323 0.0098 145.44);
$clr-neutral500: oklch(0.6263 0.0069 137.78);
$clr-neutral400: oklch(0.7194 0.0048 134.86);
$clr-neutral300: oklch(0.8088 0.0035 145.54);
$clr-neutral200: oklch(0.8942 0.0014 106.43);
$clr-neutral100: oklch(0.9791 0 0);

/* ANIMATIONS */
$bzr-productiveEaseInOut: cubic-bzr(0.2, 0.2, 0.38, 0.9);
$bzr-productiveEaseIn: cubic-bzr(0.2, 0, 1, 0.9);
$bzr-productiveEaseOut: cubic-bzr(0, 0, 0.38, 0.9);
$bzr-expressiveEaseInOut: cubic-bzr(0.4, 0.14, 0.3, 1);
$bzr-expressiveEaseIn: cubic-bzr(0.4, 0.14, 1, 1);
$bzr-expressiveEaseOut: cubic-bzr(0, 0, 0.3, 1);
$bzr-celebratoryEaseInOut: cubic-bzr(0.29, 0.04, 0.23, 1);
$bzr-celebratoryEaseIn: cubic-bzr(0.39, .06, 1, 1);
$bzr-celebratoryEaseOut: cubic-bzr(0, 0, 0.3, 1);
