// IMPORTS

@use'typography.module' as ty;
@use'variables.module' as var;
@use'functions.module' as fn;

/* PRESTILING */

*, ::after, ::before, ::backdrop, ::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  border: 0 solid;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

ol, ul, menu {
  list-style: none;
}

/* GENERAL STYLING */

html,
body {
  margin: 0;
  padding: 0;
  font-size: 125%;
  scroll-behavior: smooth;
}

.section {
  padding: fn.vw(6, var.$bp-tablet-md) fn.vw(2, var.$bp-smartphone-md);

  @media (min-width: 541px) {
    padding: fn.vw(6, var.$bp-tablet-md) fn.vw(2.5, var.$bp-tablet-md);
  }

  @media (min-width: 741px) {
    padding: fn.vw(8, var.$bp-tablet-lg) fn.vw(2.5, var.$bp-tablet-lg);
  }

  @media (min-width: 1025px) {
    padding: fn.vw(10, var.$bp-desktop-sm) fn.vw(4, var.$bp-desktop-sm);
  }

  @media (min-width: 1281px) {
    padding: fn.vw(10, var.$bp-desktop-lg) fn.vw(4, var.$bp-desktop-lg);
  }
}

.hidden {
  display: none;
}
