// IMPORTS

@use'../../../styles/typography.module' as ty;

// COMPONENT STYLES

.Container {
  background-color: var(--color-primary900);
  color: var(--color-secondary500);

  .Content {
    .Title {
      text-align: center;

      @include ty.sectionTitle--small();
    }

    .CardList {
      margin-top: ty.vw(13);
      display: flex;
      gap: ty.vw(2);
      text-align: center;

      .Card {
        background-color: var(--color-primary700);
        border-radius: var(--corners-md);
        padding: ty.vw(2) ty.vw(2) ty.vw(3);

        .CardTitle {
          padding-bottom: ty.vw(2);

          @include ty.cardTitle();
        }
    
        .CardBody {
          color: var(--color-neutral200);

          @include ty.cardBody();
        }
      }
    }
  
  }
}
