// IMPORTS

@use'../../../styles/typography.module' as typography;

// COMPONENT STYLES

.Container {
  background-color: var(--color-primary900);
  color: var(--color-secondary500);

  .Content {
    h2 {
      @include typography.sectionTitle--small();
    }
  
    .Card {
      background-color: var(--color-primary700);
      border-radius: var(--corners-md);
      padding: 2rem 2rem 3rem;

      h3 {
        @include typography.cardTitle();
        margin-bottom: 1rem;
      }
  
      p {
        @include typography.cardBody();
        color: var(--color-neutral200);
      }
    }
  }
}
