// IMPORTS

@use'../../../styles/typography.module' as ty;
@use'../../../styles/functions.module' as fn;
@use'../../../styles/variables.module' as var;


// COMPONENT STYLES

.Container {
  background-color: var.$clr-primary900;
  color: var.$clr-secondary500;

  .Content {
    .Title {
      opacity: 0;
      text-align: center;

      @include ty.sectionTitle--small();
    }

    .CardList {
      margin-top: fn.vw(6, var.$bp-smartphone-md);
      display: block;
      text-align: center;

      @media (min-width: 541px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: fn.vw(7, var.$bp-tablet-md);
        gap: fn.vw(6, var.$bp-tablet-md) fn.vw(1, var.$bp-tablet-md);
      }

      @media (min-width: 741px) {
        margin-top: fn.vw(9, var.$bp-tablet-lg);
        gap: fn.vw(6, var.$bp-tablet-lg) fn.vw(2, var.$bp-tablet-lg);
      }

      @media (min-width: 1025px) {
        margin-top: fn.vw(10, var.$bp-desktop-sm);
        gap: fn.vw(6, var.$bp-desktop-sm);
      }

      @media (min-width: 1281px) {
        margin-top: fn.vw(13, var.$bp-desktop-lg);
        gap: fn.vw(2, var.$bp-desktop-lg);
      }

      .Card {
        opacity: 0;
        flex: 40%;
        position: relative;
        background-color: var.$clr-primary700;
        border-radius: var.$crn-md;
        padding: fn.vw(2, var.$bp-smartphone-md) fn.vw(1, var.$bp-smartphone-md) fn.vw(3, var.$bp-smartphone-md);
        margin-bottom: fn.vw(6, var.$bp-smartphone-md);

        @media (min-width: 541px) {
          padding: fn.vw(3, var.$bp-tablet-md) fn.vw(1, var.$bp-tablet-md) fn.vw(3, var.$bp-tablet-md);
          margin-bottom: 0;
        }

        @media (min-width: 741px) {
          padding: fn.vw(4, var.$bp-tablet-lg) fn.vw(2, var.$bp-tablet-lg) fn.vw(3, var.$bp-tablet-lg);
        }

        @media (min-width: 1025px) {
          padding: fn.vw(4, var.$bp-desktop-sm) fn.vw(2, var.$bp-desktop-sm) fn.vw(3, var.$bp-desktop-sm);
        }

        @media (min-width: 1281px) {
          flex: 0%;
          padding: fn.vw(4, var.$bp-desktop-lg) fn.vw(2, var.$bp-desktop-lg) fn.vw(3, var.$bp-desktop-lg);
        }

        .CardIcon {
          position: absolute;
          width: fn.vw(8, var.$bp-smartphone-md);
          height: fn.vw(8, var.$bp-smartphone-md);
          background-color: inherit;
          border-radius: 100%;
          top: fn.vw(-4, var.$bp-smartphone-md);
          left: 50%;
          transform: translate(-50%, 0);

          @media (min-width: 541px) {
            width: fn.vw(8, var.$bp-tablet-md);
            height: fn.vw(8, var.$bp-tablet-md);
            top: fn.vw(-4, var.$bp-tablet-md);
          }

          @media (min-width: 741px) {
            width: fn.vw(8, var.$bp-tablet-lg);
            height: fn.vw(8, var.$bp-tablet-lg);
            top: fn.vw(-4, var.$bp-tablet-lg);
          }

          @media (min-width: 1025px) {
            width: fn.vw(10, var.$bp-desktop-sm);
            height: fn.vw(10, var.$bp-desktop-sm);
            top: fn.vw(-5, var.$bp-desktop-sm);
          }

          @media (min-width: 1281px) {
            width: fn.vw(8, var.$bp-desktop-lg);
            height: fn.vw(8, var.$bp-desktop-lg);
            top: fn.vw(-4, var.$bp-desktop-lg);
          }

          img {
            height: auto;
            max-height: fn.vw(3, var.$bp-smartphone-md);
            margin: fn.vw(2, var.$bp-smartphone-md) auto;

            @media (min-width: 541px) {
              max-height: fn.vw(3, var.$bp-tablet-md);
              margin: fn.vw(1.5, var.$bp-tablet-md) auto;
            }

            @media (min-width: 741px) {
              max-height: fn.vw(4, var.$bp-tablet-lg);
              margin: fn.vw(2, var.$bp-tablet-lg) auto;
            }

            @media (min-width: 1025px) {
              max-height: fn.vw(5, var.$bp-desktop-sm);
              margin: fn.vw(2.5, var.$bp-desktop-sm) auto;
            }

            @media (min-width: 1281px) {
              max-height: fn.vw(4, var.$bp-desktop-lg);
              margin: fn.vw(2, var.$bp-desktop-lg) auto;
            }
          }
        }

        .CardTitle,
        .CardBody {
          opacity: 0;
          position: relative;
        }

        .CardTitle {
          padding-bottom: fn.vw(2, var.$bp-desktop-lg);

          @include ty.cardTitle();
        }
    
        .CardBody {
          color: var.$clr-neutral200;
          margin-top: fn.vw(1, var.$bp-smartphone-md);

          @include ty.cardBody();

          @media (min-width: 541px) {
            margin-top: fn.vw(1, var.$bp-tablet-md);
          }

          @media (min-width: 741px) {
            margin-top: fn.vw(1, var.$bp-tablet-lg);
          }

          @media (min-width: 1025px) {
            margin-top: fn.vw(1, var.$bp-desktop-lg);
          }
        }
      }
    }
  
  }
}
