// IMPORTS

@use'../../../styles/typography.module' as typography;

// COMPONENT STYLES

.Container {
  background-color: var(--color-primary500);
  color: var(--color-neutral200);
  min-height: 100vh;

  .Content {
    text-align: center;

    div {
      @include typography.heroOver();
      color: var(--color-secondary500);
    }
  
    h1 {
      @include typography.heroTitle();
    }
  
    p {
      @include typography.heroClaim();
    }
  }
}
