// IMPORTS

@use'../../../styles/typography.module' as ty;
@use'../../../styles/objects.module' as obj;
@use'../../../styles/functions.module' as fn;
@use'../../../styles/variables.module' as var;

// COMPONENT STYLES

.Container {
  background-image: url('/imgs/hero_bg.png');
  background-size: cover;

  background-color: var.$clr-primary700;
  color: var.$clr-neutral200;

  padding: 0 fn.vw(1, var.$bp-smartphone-md);
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  @media (min-width: 541px) {
    min-height: 75vh;
    padding: 0 fn.vw(2, var.$bp-tablet-md);
  }

  @media (min-width: 741px) {
    padding: 0 fn.vw(2, var.$bp-tablet-lg);
  }

  @media (min-width: 1025px) {
    min-height: 100vh;
    padding: 0 fn.vw(2, var.$bp-desktop-lg);
  }

  .Content {
    height: fit-content;
    text-align: center;

    .Over {
      color: var.$clr-secondary500;

      @include ty.heroOver();
    }
  
    .Title {
      margin-top: fn.vw(.5, var.$bp-smartphone-md);

      @include ty.heroTitle();

      @media (min-width: 541px) {
        margin-top: 0;
      }

      @media (min-width: 741px) {
        margin-top: fn.vw(.5, var.$bp-tablet-lg);
      }

      @media (min-width: 1025px) {
        margin-top: 0;
      }
    }
  
    .Claim {
      margin-top: fn.vw(1.4, var.$bp-smartphone-md);

      @include ty.heroClaim();

      @media (min-width: 541px) {
        margin-top: fn.vw(1.2, var.$bp-tablet-md);
      }

      @media (min-width: 741px) {
        margin-top: fn.vw(1, var.$bp-tablet-lg);
      }

      @media (min-width: 1025px) {
        margin-top: fn.vw(2.25, var.$bp-desktop-sm);
      }

      @media (min-width: 1281px) {
        margin-top: fn.vw(1.9, var.$bp-desktop-lg);
      }
    }

    .Cta {
      margin-top: fn.vw(6, var.$bp-smartphone-md);
      
      @include obj.ctaButton(var.$clr-secondary500, var.$clr-neutral100);

      @media (min-width: 541px) {
        margin-top: fn.vw(4, var.$bp-tablet-md);
      }

      @media (min-width: 741px) {
        margin-top: fn.vw(3, var.$bp-tablet-lg);
      }

      @media (min-width: 1025px) {
        margin-top: fn.vw(5, var.$bp-desktop-sm);
      }

      @media (min-width: 1281px) {
        margin-top: fn.vw(4.9, var.$bp-desktop-lg);
      }
    }
  }
}
