// IMPORTS

@use'../../styles/typography.module' as typography;

// STYLES

.Wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  // overflow: clip;

  .Track {
    display: flex;
    gap: 2rem;
    width: max-content;
    padding-left: 2rem;
    animation: marquee-animation 40s linear infinite;

    li {
      @include typography.baseline(1, 0);
      font-size: 3rem;
      font-weight: 100;
      color: var(--color__White);
      text-transform: uppercase;
    }
  }
}

@keyframes marquee-animation {
  to {
    transform: translateX(-50%);
  }
}
