// IMPORTS

@use'../../../styles/typography.module' as ty;
@use'../../../styles/objects.module' as obj;
@use'../../../styles/functions.module' as fn;
@use'../../../styles/variables.module' as var;

// COMPONENT STYLES

.Container {
  background-color: var.$clr-neutral100;
  color: var.$clr-neutral800;

  .Content {
    display: block;

    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: fn.vw(2, var.$bp-desktop-lg);
    }

    .LeftSide {
      grid-column: auto;

      @media (min-width: 1025px) {
        grid-column: 1 / 7;
      }

      .Title {
        color: var.$clr-secondary500;
        margin-top: fn.vw(.1, var.$bp-smartphone-md);

        @include ty.sectionTitle--small();

        @media (min-width: 741px) {
          margin-top: fn.vw(.1, var.$bp-tablet-md);
        }

        @media (min-width: 741px) {
          margin-top: fn.vw(.15, var.$bp-tablet-lg);
        }

        @media (min-width: 1025px) {
          margin-top: fn.vw(.15, var.$bp-desktop-lg);
        }
      }
    }

    .RightSide {
      grid-column: auto;
      margin-top: fn.vw(2.9, var.$bp-smartphone-md);

      @media (min-width: 541px) {
        margin-top: fn.vw(3.9, var.$bp-tablet-md);
      }

      @media (min-width: 741px) {
        margin-top: fn.vw(3.9, var.$bp-tablet-lg);
      }

      @media (min-width: 1025px) {
        grid-column: 8 / 13;
        margin-top: fn.vw(1.05, var.$bp-desktop-lg);
      }

      .SubTitle {
        @include ty.paragTitle();
      }

      .Body {
        margin-top: fn.vw(2, var.$bp-smartphone-md);

        @include ty.body--bigger();

        @media (min-width: 541px) {
          margin-top: fn.vw(2, var.$bp-tablet-md);
        }

        @media (min-width: 741px) {
          margin-top: fn.vw(2, var.$bp-tablet-lg);
        }

        @media (min-width: 1025px) {
          margin-top: fn.vw(2, var.$bp-desktop-lg);
        }
      }

      .Cta {
        margin-top: fn.vw(4, var.$bp-smartphone-md);

        @include obj.ctaButton(var.$clr-primary500, var.$clr-neutral100);

        @media (min-width: 541px) {
          margin-top: fn.vw(5, var.$bp-tablet-md);
        }

        @media (min-width: 741px) {
          margin-top: fn.vw(6, var.$bp-tablet-lg);
        }

        @media (min-width: 1025px) {
          margin-top: fn.vw(4, var.$bp-desktop-lg);
        }
      }
    }
  }
}
