// IMPORTS

@use'../../../styles/typography.module' as typography;

// COMPONENT STYLES

.Container {
  background-color: var(--color-neutral200);
  .Content {
    color: var(--color-neutral800);
  
    h2 {
      @include typography.sectionTitle--big();
      color: var(--color-primary500);
    }
  
    h3 {
      @include typography.paragTitle();
      margin-top: -5px;
    }
  
    p {
      @include typography.body--regular();
    }
  }
}
