// IMPORTS

@use'../../../styles/typography.module' as ty;
@use'../../../styles/functions.module' as fn;
@use'../../../styles/variables.module' as var;

// COMPONENT STYLES

.Container {
  background-color: var.$clr-neutral200;

  .Content {
    color: var.$clr-neutral800;
  
    .Title {
      color: var.$clr-primary500;

      @include ty.sectionTitle--big();
    }

    .Paragraph {
      margin-top: fn.vw(3, var.$bp-tablet-md);
      padding: 0 fn.vw(1, var.$bp-tablet-md);
      display: block;

      @media (min-width: 741px) {
        margin-top: fn.vw(4.4, var.$bp-tablet-lg);
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: fn.vw(2, var.$bp-tablet-lg);
      }

      @media (min-width: 1025px) {
        margin-top: fn.vw(9.8, var.$bp-desktop-lg);
        grid-template-columns: repeat(12, 1fr);
        grid-gap: fn.vw(2, var.$bp-desktop-lg);
      }

      >div {
        grid-column: auto;

        @media (min-width: 741px) {
          grid-column: 2 / 7;
        }

        @media (min-width: 1025px) {
          grid-column: 6 / 12;
        }
      }

      .SubTitle {
        @include ty.paragTitle();
      }

      .Body {
        margin-top: fn.vw(1.5, var.$bp-tablet-md);
        @include ty.body--bigger();

        @media (min-width: 741px) {
          margin-top: fn.vw(1.5, var.$bp-tablet-lg);
        }

        @media (min-width: 1025px) {
          margin-top: fn.vw(2, var.$bp-desktop-lg);
        }
      }
    }
  
  }
}
