// IMPORTS

@use'../../../styles/typography.module' as ty;

// COMPONENT STYLES

.Container {
  background-color: var(--color-neutral200);

  .Content {
    color: var(--color-neutral800);
  
    .Title {
      color: var(--color-primary500);
      margin-top: ty.vw(.25, --bp-desktop-lg);

      @include ty.sectionTitle--big();
    }

    .Paragraph {
      margin-top: ty.vw(9.8, --bp-desktop-lg);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: ty.vw(2, --bp-desktop-lg);

      >div {
        grid-column: 6 / 12;
      }

      .SubTitle {
        @include ty.paragTitle();
      }

      .Body {
        margin-top: ty.vw(2, --bp-desktop-lg);
        @include ty.body--bigger();
      }
    }
  
  }
}
