// IMPORTS

@use'../../../styles/typography.module' as ty;

// COMPONENT STYLES

.Container {
  background-image: url('/imgs/mappa.png');
  background-size: cover;
  background-position: 0% 55%;

  background-color: var(--color-primary900);
  color: var(--color-neutral100);

  .Content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: ty.vw(2, --bp-desktop-lg);

    >div {
      grid-column: 9 / 13;
      margin-top: ty.vw(.05, --bp-desktop-lg);

      .Title {
        @include ty.paragTitle();
      }

      .Body {
        @include ty.body--bigger();
      }
    }
  }
}
